body {
  background-color: rgb(114, 112, 112);
}
main {
  background-color: rgb(255, 255, 255);
}

.my-custom-row {
  background-color:bisque;
  height:400px;
}

.carousel-item {
  height:24rem;
  background-color: #000;
}

.carousel-item img{
  opacity: 0.5;
}

footer {
  background-color: aqua;
}