body {
  background-color: lightblue;
}
main {
  background-color: lightgray;
}

.my-custom-row {
  background-color:bisque;
  height:400px;
}

.carousel-item {
  height:24rem;
  background-color: #000;
}

.carousel-item img{
  opacity: 0.5;
}

footer {
  background-color: aqua;
}